@font-face {
    font-family: Roboto;
    src: url(../../asset/fonts/Roboto-Medium.ttf) format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf) format("truetype");
    font-weight: 400;
}