*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f7c1ca;
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows:  auto auto auto;
    grid-template-areas: 
        "nav nav"
        "aside main"
        "footer footer";
}

nav{
    grid-area: nav;
    display: flex;
    justify-content: left;
    align-items: center;
    color: brown;
}

.logo-nav{
    width: 100px;
    border-radius: 50%;
    margin: 20px;
}

h1{
    font-size: 40px;
}

aside{
    grid-area: aside;
}

ul{
    background-color: brown;
    padding: 10px;
    margin: 0 20px;
    border-radius: 30px;   
}

.list-item{
    color: #f7c1ca;
    text-align: center;
    text-decoration: none;
    margin: 20px 0;
    list-style: none;
    font-size: 18px;
    font-weight: bold;
}

.list-item:hover{
    text-decoration: underline;
}

main{
    grid-area: main;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card{
    text-align: center;
    margin-bottom: 30px;
    border-radius: 20px;
    font-family: sans-serif;
}
.img-card{
    width: 300px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.title-card{
    font-size: 15px;
}

.price-card{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.shop-card{
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-size: 18px;
    background-color: brown;
    padding: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: #f7c1ca;
    font-weight: bold;
}


footer{
    grid-area: footer;
    background-color: brown;
    padding: 20px;
    text-align: center;
    font-weight: bold;
}