*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    background-color: #E8ebe4;
    font-family: 'Roboto';

}

aside{
    width: 22%;
    background-color: #fff;
}

header{
    display: flex;
    padding: 10px 20px;
    border: 1px solid #E8ebe4;
    align-items: center;
    justify-content: space-between;
}

.perfil-contenedor{
    display: flex;
    align-items: center;
}

.inline{
    color: #828485;
    font-size: 12px;
}

i{
    font-size: 24px;
    color: #828485;
    margin-right: 10px;
}

.foto-perfil{
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.new-chat{
    background-color: #A491D2;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin: 40px 60px ;
}

.contact{
    display: flex;
    padding: 10px 20px;
    border: 1px solid #E8ebe4;
    align-items: center;
}

.foto-contact{
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

h2{
    font-size: 16px;
    font-weight: 500;
}

main{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    margin: auto;
    text-align: center;
}

.foto-main{
    width: 300px;
    margin: auto;
    border-radius: 20px;
}

h1{
    font-size: 50px;
    font-weight: 400;
    margin: 10px ;
}

main>p{
    font-size: 16px;
    width: 60%;
    margin: auto;
}
